* {
    font-family: "Helvetica", sans-serif;
}

section {
    display: block;
}

body {
    display: flex;
    flex-direction: column;
}

.page {
    display: flex;
    flex-direction: row;
}

.float-container {
    float: left;

    padding: 40px;
    margin: 50px;
    box-shadow: 5px 10px 8px 10px #888888;
    border-radius: 25px;
    background-color: white;
}

.actions {
    text-align: center;
}

.actions a {
    display: block;
}

.actions .act {
    display: block;
}

.feedback a {
    display: block;
}

.feedback .title {
    margin: 35px;
    text-align: center;
}

.feedback  .emote{
    display: inline;
}

.emote {
    background-color: green;
    padding: 10px;
    margin-top: 30px;

    margin: 15px;
    border-radius: 15px;
}

.emote:hover {
    opacity: 85%;
}

.act {
    color: white;
    margin: 30px;
    background-color: green;
    border-radius: 15px;
}

.act:hover {
   opacity: 85%; 
}

.feedback .actions button {
    border-radius: 15px;
}

.qcm a {
    text-align: center;
    display: block;
}

.answer {
    color: white;
    margin: 35px;
    padding: 5px;
    background-color: green;
    border-radius: 15px;
}

.answer:hover {
    opacity: 85%;
}

.text-container {
    
    padding: 40px;
    margin: 50px;
    box-shadow: 5px 10px 8px 10px #888888;
    border-radius: 25px;
    background-color: white;
}
